@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --background-color: #ffffff;
  --scrollbar-color: #b1b5ff;
  --scrollbar-color-hover: #969aff;
  --separator-line-color: #c6c6c6;
  --font-color: #000000;
  --team-member-card-color: #e3e3e5;
  --sponsor-card-color: #ff3ba3;
  --before-use-riseup-block-color: #00c5f4;
  --before-use-falldown-block-color: #fd5d01;
}

html[data-theme="Dark"] {
  --background-color: #1e1e1e;
  --scrollbar-color: #1d1c2e;
  --scrollbar-color-hover: #1c1b39;
  --separator-line-color: #393939;
  --font-color: #ffffff;
  --team-member-card-color: #161618a0;
  --sponsor-card-color: #ff3ba3;
  --before-use-riseup-block-color: #5b5b5b;
  --before-use-falldown-block-color: #01e697;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: var(--background-color);
  height: 100%;
  width: 100%;
  color: var(--font-color) !important;
  font-family: "Poppins", sans-serif !important;
  transition: background 0.45s ease-in-out;
}

#app {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #858585;
}

::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}
